.heroBody {
    height: 100vh;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero{
    height: 50%;
    background: #111;
    border: .42em #fff solid;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.waveContainer{
    height: 100%;
    width: 50%;
    display: flex;
    overflow: hidden;
    position: absolute;
}

svg{
    position: absolute;
    top: -6%;
    overflow: hidden;
}

.svg1 {
    width: 600px;
    width: 700px;
    height: 100%;
    padding: 50px;
    left: -20%;
}

.svg2 {
    width: 600px;
    width: 600px;
    height: 100%;
    padding: 50px;
    left: -15%;
}

.svg3 {
    width: 500px;
    width: 600px;
    height: 100%;
    padding: 50px;
    left: -10%;
}

line {
    stroke-width: 0;
    stroke: #3c3c3c;
}

.svg1 #wave {
    fill: none;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #990066;
}
  
.svg2 #wave {
    fill: none;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #56acf4;
}

.svg3 #wave {
    fill: none;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #660099;
}