/* spotStats main css file */

/* important variables */

body {
	background-color: #111;
	margin: 0px;
}

/* content */

.headbar {
	display: flex;
	justify-content: space-between;
	color: #fff;
}

.headbar a {
	text-decoration: none;
	text-transform: capitalize;
	color: #fff;
	font-size: 1.3em;
}

.headlogo {
	display: flex;
	width: 20em;
}
h1 {
	margin-left: 5%;
	color: white;
}

// .container {
// 	background-color: #111;
// }

.waveHero {
	width: fit-content;
	height: 20em;
	position: relative;
}

.btn {
	background-color: green;
	padding: 1em;
	border: 0.13em rgb(1, 150, 1) solid;
	border-radius: 10px;
	color: #fff;
	text-decoration: none;
}

//top-container

.active {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	.topTracksHeader {
		width: 100%;
		font-size: 1.5rem;
	}
	.topArtistContainer {
		display: flex;
		width: 50%;
		margin-top: 10%;
		.topTracksHolder {
			display: flex;
			align-items: center;
			width: 43%;
			margin: 20px;
			.dl-horizontal {
				font-size: 1.2rem;
			}
		}
		.topTracksArt {
			width: 45%;
			border-radius: 70%;
		}
	}
	.recentTracksHeader {
		width: 100%;
		font-size: 1.5rem;
	}
	.recTrackContainer {
		display: flex;
		width: 50%;
		margin-top: 10%;
		.trackHolder {
			display: flex;
			align-items: center;
			width: 43%;
			margin: 20px;
			.dl-horizontal {
				font-size: 1.2rem;
			}
		}
		.recTrackArt {
			width: 45%;
			border-radius: 70%;
		}
	}
	.artistHeader {
		width: 100%;
		font-size: 1.5rem;
	}
	.topArtistContainer {
		display: flex;
		width: 50%;
		margin-top: 10%;
		.artistHolder {
			display: flex;
			align-items: center;
			width: 43%;
			margin: 20px;
			.dl-horizontal {
				font-size: 1.2rem;
			}
		}
		.artistArt {
			width: 45%;
			border-radius: 70%;
		}
	}
}

.header {
	display: flex;
	width: 100%;
	justify-content: center;
	transition: all 1s ease;
	background: rgb(30, 126, 77);
	background: linear-gradient(
		90deg,
		rgba(30, 126, 77, 1) 0%,
		rgba(30, 126, 77, 0.75) 25%,
		rgba(67, 98, 119, 0.75) 50%,
		rgba(67, 98, 119, 0.75) 75%,
		rgba(67, 98, 119, 0.25) 100%
	);
	.logo_holder {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.logo-img-holder {
			width: 30%;
			transition: all 1s ease;
			img {
				width: 100%;
			}
		}
		@include bp-med {
			@include flex-center;
		}

		h1 {
			color: white;
		}
	}
	#user-profile {
		display: none;
		@include bp-med {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			#userName {
				font-size: 1.5rem;
				width: 30%;
			}
			.profileImgHolder {
				width: 30%;
				img {
					width: 100%;
					border-radius: 50%;
				}
			}
		}
	}
	&.compressed {
		position: fixed;
		z-index: 100;
		transition: all 1s ease;
		background: rgb(30, 126, 77);
		background: linear-gradient(
			90deg,
			rgba(30, 126, 77, 1) 0%,
			rgba(30, 126, 77, 0.75) 25%,
			rgba(67, 98, 119, 0.75) 50%,
			rgba(67, 98, 119, 0.75) 75%,
			rgba(67, 98, 119, 0.25) 100%
		);
		.logo_holder {
			width: 90%;
			justify-content: right;
			.logo-img-holder {
				width: 10%;
				transition: all 1s ease;
				img {
					width: 100%;
				}
			}
			h1 {
				font-size: 1.5rem;
			}
			@include bp-med {
				width: 50%;
				justify-content: right;
				margin-left: 5%;
				.logo-img-holder {
					width: 10%;
					transition: all 1s ease;
					img {
						width: 100%;
					}
				}
				h1 {
					font-size: 1.5rem;
				}
			}
		}
		#user-profile {
			display: none;
			@include bp-med {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				width: 50%;
				margin-right: 5%;
				#userName {
					font-size: 1rem;
					width: 30%;
				}
				.profileImgHolder {
					width: 15%;
					margin-right: 5%;
					transition: all 1s ease;
					img {
						width: 100%;
						margin: 5px 0px;
					}
				}
			}
		}
	}
}
