/* spotStats main css file */

/* important variables */

body {
	background-color: #111;
	margin: 0px;
}

/* content */

.headbar {
	display: flex;
	justify-content: space-between;
	color: #fff;
}

.headbar a {
	text-decoration: none;
	text-transform: capitalize;
	color: #fff;
	font-size: 1.3em;
}

.headlogo {
	display: flex;
	width: 20em;
}
h1 {
	margin-left: 5%;
	color: white;
}

.container {
	background-color: #111;
}

.waveHero {
	width: fit-content;
	height: 20em;
	position: relative;
}

.btn {
	background-color: green;
	padding: 1em;
	border: 0.13em rgb(1, 150, 1) solid;
	border-radius: 10px;
	color: #fff;
	text-decoration: none;
}

//top-container

.top-container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	#top-tracks {
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		.topTracksHeader {
			width: 100%;
			font-size: 1.5rem;
		}
		.topArtistContainer {
			display: flex;
			width: 50%;
			margin-top: 10%;
			.topTracksHolder {
				display: flex;
				align-items: center;
				width: 43%;
				margin: 20px;
				.dl-horizontal {
					font-size: 1.2rem;
				}
			}
			.topTracksArt {
				width: 45%;
				border-radius: 70%;
			}
		}
	}
	#recent-track {
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		.recentTracksHeader {
			width: 100%;
			font-size: 1.5rem;
		}
		.recTrackContainer {
			display: flex;
			width: 50%;
			margin-top: 10%;
			.trackHolder {
				display: flex;
				align-items: center;
				width: 43%;
				margin: 20px;
				.dl-horizontal {
					font-size: 1.2rem;
				}
			}
			.recTrackArt {
				width: 45%;
				border-radius: 70%;
			}
		}
	}
	#top-artists {
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		.artistHeader {
			width: 100%;
			font-size: 1.5rem;
		}
		.topArtistContainer {
			display: flex;
			width: 50%;
			margin-top: 10%;
			.artistHolder {
				display: flex;
				align-items: center;
				width: 43%;
				margin: 20px;
				.dl-horizontal {
					font-size: 1.2rem;
				}
			}
			.artistArt {
				width: 45%;
				border-radius: 70%;
			}
		}
	}
}
