/* spotStats main css file */

/* important variables */

body {
	background-color: #111;
	margin: 0px;
}

/* content */

.headbar {
	display: flex;
	justify-content: space-between;
	color: #fff;
	a {
		text-decoration: none;
		text-transform: capitalize;
		color: #fff;
		font-size: 1.3em;
	}
}

.headlogo {
	display: flex;
	width: 20em;
}
h1 {
	margin-left: 5%;
	color: white;
}

// .container {
// 	background-color: #111;
// }

.waveHero {
	width: fit-content;
	height: 20em;
	position: relative;
}

.btn {
	background-color: green;
	padding: 1em;
	border: 0.13em rgb(1, 150, 1) solid;
	border-radius: 10px;
	color: #fff;
	text-decoration: none;
}

//top-container

.active {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
	.topTracksHeader {
		width: 100%;
		font-size: 1.5rem;
	}
	.topArtistContainer {
		display: flex;
		width: 100%;
		margin: 5% 0;
		justify-content: center;
		flex-direction: row-reverse;
		@include bp-med {
			width: 50%;
		}
		.topTracksHolder {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 20px;
			width: 25%;
			.dl-horizontal {
				font-size: 1.5rem;
				@include bp-med {
					font-size: 1.2rem;
				}
				dt {
					text-align: center;
				}
			}
		}
		.topTracksArt {
			width: 45%;
			border-radius: 70%;
		}
	}
	.recTrackContainer {
		display: flex;
		margin: 5% 0;
		justify-content: center;
		flex-direction: row-reverse;
		width: 100%;
		@include bp-med {
			width: 50%;
		}
		.trackHolder {
			display: flex;
			align-items: center;

			margin-left: 20px;
			width: 25%;
			.dl-horizontal {
				font-size: 1.5rem;
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				height: 50%;
				@include bp-med {
					font-size: 1.2rem;
					height: 40%;
				}
				dt {
					text-align: center;
				}
			}
		}
		.recTrackArt {
			width: 45%;
			border-radius: 70%;
		}
	}

	.topArtistContainer {
		display: flex;
		width: 100%;
		margin: 5% 0;
		justify-content: center;
		flex-direction: row-reverse;
		@include bp-med {
			width: 50%;
		}
		.artistHolder {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 25%;
			margin-left: 20px;
			.dl-horizontal {
				font-size: 1.5rem;
				@include bp-med {
					font-size: 1.2rem;
				}
				dt {
					text-align: center;
				}
			}
		}
		.artistArt {
			width: 45%;
			border-radius: 70%;
		}
	}
}

.header {
	display: flex;
	width: 100%;
	justify-content: center;
	transition: all 1s ease;
	background: rgb(30, 126, 77);
	background: linear-gradient(
		90deg,
		rgba(30, 126, 77, 1) 0%,
		rgba(30, 126, 77, 0.75) 25%,
		rgba(67, 98, 119, 0.75) 50%,
		rgba(67, 98, 119, 0.75) 75%,
		rgba(67, 98, 119, 0.25) 100%
	);
	.logo_holder {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.logo-img-holder {
			width: 30%;
			transition: all 1s ease;
			img {
				width: 100%;
			}
		}
		@include bp-med {
			@include flex-center;
		}

		h1 {
			color: white;
		}
	}
	#user-profile {
		display: none;
		@include bp-med {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			#userName {
				font-size: 1.5rem;
				width: 30%;
			}
			.profileImgHolder {
				width: 30%;
				margin: 1% 0%;
				img {
					width: 100%;
					border-radius: 50%;
				}
			}
		}
	}
	&.compressed {
		position: fixed;
		z-index: 100;
		transition: all 1s ease;
		top: 0;
		background: rgb(30, 126, 77);
		background: linear-gradient(
			90deg,
			rgba(30, 126, 77, 1) 0%,
			rgba(30, 126, 77, 0.75) 25%,
			rgba(67, 98, 119, 0.75) 50%,
			rgba(67, 98, 119, 0.75) 75%,
			rgba(67, 98, 119, 0.25) 100%
		);
		.logo_holder {
			width: 90%;
			justify-content: right;
			.logo-img-holder {
				width: 10%;
				transition: all 1s ease;
				img {
					width: 100%;
				}
			}
			h1 {
				font-size: 1.5rem;
			}
			@include bp-med {
				width: 50%;
				justify-content: right;
				margin-left: 5%;
				.logo-img-holder {
					width: 10%;
					transition: all 1s ease;
					img {
						width: 100%;
					}
				}
				h1 {
					font-size: 1.5rem;
				}
			}
		}
		#user-profile {
			display: none;
			@include bp-med {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				width: 50%;
				margin-right: 5%;
				#userName {
					font-size: 1rem;
					width: 30%;
				}
				.profileImgHolder {
					width: 15%;
					margin-right: 5%;
					transition: all 1s ease;
					img {
						width: 100%;
						margin: 5px 0px;
					}
				}
			}
		}
	}
}

.spotify__tab__bar {
	display: flex;
	flex-direction: row;
	.spotify__tab__button {
		background: rgb(30, 126, 77);
		background: linear-gradient(
			90deg,
			rgba(30, 126, 77, 0.5) 0%,
			rgba(30, 126, 77, 0.5) 25%,
			rgba(30, 126, 118, 0.5) 50%,
			rgba(67, 98, 119, 0.5) 75%,
			rgba(67, 98, 119, 0.5) 100%
		);
		color: white;
		padding: 2rem;
		width: 100%;
		margin: 0 auto;
		border-radius: 5px 5px 0px 0px;
		font-size: 27px;
	}
	.activeTab {
		border: 1px solid white;
		background: rgb(30, 126, 77);
		background: linear-gradient(
			90deg,
			rgba(30, 126, 77, 1) 0%,
			rgba(30, 126, 77, 1) 25%,
			rgba(30, 126, 118, 1) 50%,
			rgba(67, 98, 119, 1) 75%,
			rgba(67, 98, 119, 1) 100%
		);
	}
}

#top__flex {
	display: flex;
	width: 90%;
	text-align: center;
	margin: 5% auto;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.5);
	@include bp-med {
		width: 50%;
	}
	.all-time-top-artist {
		display: flex;
		justify-content: center;
		flex-direction: column;
		h2 {
			margin: 5% 0;
		}
		.topArtistImgHolder {
			width: 70%;

			margin: 5% auto;

			img {
				width: 100%;
				border-radius: 50%;
			}
		}
	}
	.all-time-top-track {
		display: flex;
		flex-direction: column;
		h2 {
			margin: 5% 0;
		}
		.topTrackImgHolder {
			width: 70%;
			margin: 5% auto;
			img {
				width: 100%;
				border-radius: 50%;
			}
		}
	}
}

#top-tracks,
#recent-track,
#top-artists {
	background: #335059a6;
}
