// Colors

$primary-bkg-color: #e7d3c4;

$secondary-color: #262626;

$link-color: #ffffff;

// Spacing

$small-spacing: 10px;

$med-spacing: 20px;

$large-spacing: 30px;

// Breakpoints

$breakpoint-mobile: 480px;

$breakpoint-tablet: 768px;

$breakpoint-desktop: 1024px;

// Mixins

@mixin flex-center {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

@mixin bp-small {
	@media screen and (min-width: $breakpoint-mobile) {
		@content;
	}
}

@mixin bp-med {
	@media screen and (min-width: $breakpoint-tablet) {
		@content;
	}
}

@mixin bp-large {
	@media screen and (min-width: $breakpoint-desktop) {
		@content;
	}
}

@mixin header-font {
	font-family: 'Poppins', sans-serif;
}

@mixin non-header-fonts {
	font-family: 'Heebo', sans-serif;
}
